on:
  pull_request:
    branches:
    - master
jobs:
  build:
    name: Run unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build
      run: dotnet build Crews.Web.JsonApiClient --configuration Release
    - name: Test
      run: dotnet test Crews.Web.JsonApiClient.Tests --configuration Release